api/models/templates/S3_Avro-collector.xml
<processGroups>
    <id>{{ groupId }}</id>
    <parentGroupId>{{ parentGroupId }}</parentGroupId>
    <position>
        <x>0.0</x>
        <y>0.0</y>
    </position>
    <comments/>
    <contents>
        <connections>
            <id>053e2d08-b773-3711-0000-000000000000</id>
            <parentGroupId>{{ groupId }}</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>{{ groupId }}</groupId>
                <id>f23599d5-98b5-3ab1-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute/>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name/>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>{{ groupId }}</groupId>
                <id>2ef3f7b7-7761-3500-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>0bb9bb1a-a7ea-3590-0000-000000000000</id>
            <parentGroupId>{{ groupId }}</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>{{ groupId }}</groupId>
                <id>1f930a41-4095-3fcf-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute/>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name/>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>{{ groupId }}</groupId>
                <id>a4bf2633-db41-398d-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>478fd405-3691-36ed-0000-000000000000</id>
            <parentGroupId>{{ groupId }}</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>389.682008589984</x>
                <y>714.9023251801907</y>
            </bends>
            <destination>
                <groupId>{{ groupId }}</groupId>
                <id>1f930a41-4095-3fcf-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute/>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name/>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>{{ groupId }}</groupId>
                <id>a4bf2633-db41-398d-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>8a4d6e09-f619-30cd-0000-000000000000</id>
            <parentGroupId>{{ groupId }}</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>{{ groupId }}</groupId>
                <id>1f930a41-4095-3fcf-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute/>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name/>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>{{ groupId }}</groupId>
                <id>f23599d5-98b5-3ab1-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>9a032852-c8ad-3bbc-0000-000000000000</id>
            <parentGroupId>{{ groupId }}</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>{{ groupId }}</groupId>
                <id>a4bf2633-db41-398d-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute/>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name/>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>{{ groupId }}</groupId>
                <id>f23599d5-98b5-3ab1-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <processors>
            <id>1f930a41-4095-3fcf-0000-000000000000</id>
            <parentGroupId>{{ groupId }}</parentGroupId>
            <position>
                <x>-70.69393063451776</x>
                <y>467.35879110046017</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.8.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments/>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>log-level</key>
                        <value>
                            <name>log-level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>log-prefix</key>
                        <value>
                            <name>log-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>log-message</key>
                        <value>
                            <name>log-message</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>log-level</key>
                        <value>info</value>
                    </entry>
                    <entry>
                        <key>log-prefix</key>
                    </entry>
                    <entry>
                        <key>log-message</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>LogMessage</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.LogMessage</type>
        </processors>
        <processors>
            <id>2ef3f7b7-7761-3500-0000-000000000000</id>
            <parentGroupId>{{ groupId }}</parentGroupId>
            <position>
                <x>604.384521484375</x>
                <y>198.4345703125</y>
            </position>
            <bundle>
                <artifact>nifi-aws-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.8.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments/>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Bucket</key>
                        <value>
                            <name>Bucket</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Region</key>
                        <value>
                            <name>Region</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Access Key</key>
                        <value>
                            <name>Access Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Secret Key</key>
                        <value>
                            <name>Secret Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>write-s3-object-tags</key>
                        <value>
                            <name>write-s3-object-tags</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Credentials File</key>
                        <value>
                            <name>Credentials File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>AWS Credentials Provider service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
                            <name>AWS Credentials Provider service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>
                            <name>Communications Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Endpoint Override URL</key>
                        <value>
                            <name>Endpoint Override URL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Signer Override</key>
                        <value>
                            <name>Signer Override</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host Port</key>
                        <value>
                            <name>Proxy Host Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-user-name</key>
                        <value>
                            <name>proxy-user-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-user-password</key>
                        <value>
                            <name>proxy-user-password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>delimiter</key>
                        <value>
                            <name>delimiter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>prefix</key>
                        <value>
                            <name>prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>use-versions</key>
                        <value>
                            <name>use-versions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>list-type</key>
                        <value>
                            <name>list-type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>min-age</key>
                        <value>
                            <name>min-age</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>PRIMARY</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Bucket</key>
                    </entry>
                    <entry>
                        <key>Region</key>
                        <value>us-west-2</value>
                    </entry>
                    <entry>
                        <key>Access Key</key>
                    </entry>
                    <entry>
                        <key>Secret Key</key>
                    </entry>
                    <entry>
                        <key>write-s3-object-tags</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Credentials File</key>
                    </entry>
                    <entry>
                        <key>AWS Credentials Provider service</key>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>30 secs</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>Endpoint Override URL</key>
                    </entry>
                    <entry>
                        <key>Signer Override</key>
                        <value>Default Signature</value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Host Port</key>
                    </entry>
                    <entry>
                        <key>proxy-user-name</key>
                    </entry>
                    <entry>
                        <key>proxy-user-password</key>
                    </entry>
                    <entry>
                        <key>delimiter</key>
                    </entry>
                    <entry>
                        <key>prefix</key>
                    </entry>
                    <entry>
                        <key>use-versions</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>list-type</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>min-age</key>
                        <value>0 sec</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>true</executionNodeRestricted>
            <name>ListS3</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.aws.s3.ListS3</type>
        </processors>
        <processors>
            <id>a4bf2633-db41-398d-0000-000000000000</id>
            <parentGroupId>{{ groupId }}</parentGroupId>
            <position>
                <x>607.2353159785482</x>
                <y>660.9139073556245</y>
            </position>
            <bundle>
                <artifact>nifi-aws-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.8.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments/>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Object Key</key>
                        <value>
                            <name>Object Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Bucket</key>
                        <value>
                            <name>Bucket</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content Type</key>
                        <value>
                            <name>Content Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Access Key</key>
                        <value>
                            <name>Access Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Secret Key</key>
                        <value>
                            <name>Secret Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Credentials File</key>
                        <value>
                            <name>Credentials File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>AWS Credentials Provider service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
                            <name>AWS Credentials Provider service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>s3-object-tags-prefix</key>
                        <value>
                            <name>s3-object-tags-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>s3-object-remove-tags-prefix</key>
                        <value>
                            <name>s3-object-remove-tags-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Storage Class</key>
                        <value>
                            <name>Storage Class</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Region</key>
                        <value>
                            <name>Region</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>
                            <name>Communications Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Expiration Time Rule</key>
                        <value>
                            <name>Expiration Time Rule</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FullControl User List</key>
                        <value>
                            <name>FullControl User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Read Permission User List</key>
                        <value>
                            <name>Read Permission User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Write Permission User List</key>
                        <value>
                            <name>Write Permission User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Read ACL User List</key>
                        <value>
                            <name>Read ACL User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Write ACL User List</key>
                        <value>
                            <name>Write ACL User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Owner</key>
                        <value>
                            <name>Owner</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canned-acl</key>
                        <value>
                            <name>canned-acl</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Endpoint Override URL</key>
                        <value>
                            <name>Endpoint Override URL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Signer Override</key>
                        <value>
                            <name>Signer Override</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Multipart Threshold</key>
                        <value>
                            <name>Multipart Threshold</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Multipart Part Size</key>
                        <value>
                            <name>Multipart Part Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Multipart Upload AgeOff Interval</key>
                        <value>
                            <name>Multipart Upload AgeOff Interval</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Multipart Upload Max Age Threshold</key>
                        <value>
                            <name>Multipart Upload Max Age Threshold</name>
                        </value>
                    </entry>
                    <entry>
                        <key>server-side-encryption</key>
                        <value>
                            <name>server-side-encryption</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host Port</key>
                        <value>
                            <name>Proxy Host Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-user-name</key>
                        <value>
                            <name>proxy-user-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-user-password</key>
                        <value>
                            <name>proxy-user-password</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Object Key</key>
                        <value>${filename}</value>
                    </entry>
                    <entry>
                        <key>Bucket</key>
                    </entry>
                    <entry>
                        <key>Content Type</key>
                    </entry>
                    <entry>
                        <key>Access Key</key>
                    </entry>
                    <entry>
                        <key>Secret Key</key>
                    </entry>
                    <entry>
                        <key>Credentials File</key>
                    </entry>
                    <entry>
                        <key>AWS Credentials Provider service</key>
                    </entry>
                    <entry>
                        <key>s3-object-tags-prefix</key>
                    </entry>
                    <entry>
                        <key>s3-object-remove-tags-prefix</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Storage Class</key>
                        <value>Standard</value>
                    </entry>
                    <entry>
                        <key>Region</key>
                        <value>us-west-2</value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>30 secs</value>
                    </entry>
                    <entry>
                        <key>Expiration Time Rule</key>
                    </entry>
                    <entry>
                        <key>FullControl User List</key>
                        <value>${s3.permissions.full.users}</value>
                    </entry>
                    <entry>
                        <key>Read Permission User List</key>
                        <value>${s3.permissions.read.users}</value>
                    </entry>
                    <entry>
                        <key>Write Permission User List</key>
                        <value>${s3.permissions.write.users}</value>
                    </entry>
                    <entry>
                        <key>Read ACL User List</key>
                        <value>${s3.permissions.readacl.users}</value>
                    </entry>
                    <entry>
                        <key>Write ACL User List</key>
                        <value>${s3.permissions.writeacl.users}</value>
                    </entry>
                    <entry>
                        <key>Owner</key>
                        <value>${s3.owner}</value>
                    </entry>
                    <entry>
                        <key>canned-acl</key>
                        <value>${s3.permissions.cannedacl}</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>Endpoint Override URL</key>
                    </entry>
                    <entry>
                        <key>Signer Override</key>
                        <value>Default Signature</value>
                    </entry>
                    <entry>
                        <key>Multipart Threshold</key>
                        <value>5 GB</value>
                    </entry>
                    <entry>
                        <key>Multipart Part Size</key>
                        <value>5 GB</value>
                    </entry>
                    <entry>
                        <key>Multipart Upload AgeOff Interval</key>
                        <value>60 min</value>
                    </entry>
                    <entry>
                        <key>Multipart Upload Max Age Threshold</key>
                        <value>7 days</value>
                    </entry>
                    <entry>
                        <key>server-side-encryption</key>
                        <value>None</value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Host Port</key>
                    </entry>
                    <entry>
                        <key>proxy-user-name</key>
                    </entry>
                    <entry>
                        <key>proxy-user-password</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutS3Object</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.aws.s3.PutS3Object</type>
        </processors>
        <processors>
            <id>f23599d5-98b5-3ab1-0000-000000000000</id>
            <parentGroupId>{{ groupId }}</parentGroupId>
            <position>
                <x>603.7476806640625</x>
                <y>421.1406555175781</y>
            </position>
            <bundle>
                <artifact>nifi-aws-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.8.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments/>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Bucket</key>
                        <value>
                            <name>Bucket</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Object Key</key>
                        <value>
                            <name>Object Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Region</key>
                        <value>
                            <name>Region</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Access Key</key>
                        <value>
                            <name>Access Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Secret Key</key>
                        <value>
                            <name>Secret Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Credentials File</key>
                        <value>
                            <name>Credentials File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>AWS Credentials Provider service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
                            <name>AWS Credentials Provider service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>
                            <name>Communications Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Version</key>
                        <value>
                            <name>Version</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Endpoint Override URL</key>
                        <value>
                            <name>Endpoint Override URL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Signer Override</key>
                        <value>
                            <name>Signer Override</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host Port</key>
                        <value>
                            <name>Proxy Host Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-user-name</key>
                        <value>
                            <name>proxy-user-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-user-password</key>
                        <value>
                            <name>proxy-user-password</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Bucket</key>
                    </entry>
                    <entry>
                        <key>Object Key</key>
                        <value>${filename}</value>
                    </entry>
                    <entry>
                        <key>Region</key>
                        <value>us-west-2</value>
                    </entry>
                    <entry>
                        <key>Access Key</key>
                    </entry>
                    <entry>
                        <key>Secret Key</key>
                    </entry>
                    <entry>
                        <key>Credentials File</key>
                    </entry>
                    <entry>
                        <key>AWS Credentials Provider service</key>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>30 secs</value>
                    </entry>
                    <entry>
                        <key>Version</key>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>Endpoint Override URL</key>
                    </entry>
                    <entry>
                        <key>Signer Override</key>
                        <value>Default Signature</value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Host Port</key>
                    </entry>
                    <entry>
                        <key>proxy-user-name</key>
                    </entry>
                    <entry>
                        <key>proxy-user-password</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>FetchS3Object</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.aws.s3.FetchS3Object</type>
        </processors>
    </contents>
    <name>S3_AVRO-collector</name>
    <variables/>
</processGroups>